@value colors: '../../utils/style/colors.module.css';
@value color--box from colors;

.radialChartBoardContainer{
    width: 33%;
    border-radius: .5rem;
    background-color: color--box;
    height: 17rem;
    padding-top: 2rem;
}