@value colors: '../../utils/style/colors.module.css';
@value color--calorie, color--proteine, color--glucide, color--lipide, color--box, color--white, color--legend from colors;

@value sizesFont: '../../utils/style/sizesFont.module.css';
@value size--sub-title from sizesFont;

.singleValueContainer{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: color--box;
    border-radius: .5rem;

    @media only screen and (max-width: 1080px) {
        flex-wrap: wrap;
        height: auto;
    }
}

.imageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
}

.calorie{
    composes: imageContainer;
    background-color: color--calorie;
}

.proteine{
    composes: imageContainer;
    background-color: color--proteine;
}

.glucide{
    composes: imageContainer;
    background-color: color--glucide;
}

.lipide{
    composes: imageContainer;
    background-color: color--lipide;
}

.imageContainer{
    
    @media only screen and (max-width: 1080px) {
        width: 100%;
    }
}

.imageContainer > img{
    position: absolute;
}

.descriptionContainer{
    padding-left: 1rem;

    @media only screen and (max-width: 1080px) {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-top: 1rem;
    }
}

.descriptionContainer > span{
    color: color--legend;
    font-weight: 600;
}

.descriptionContainer > h5 {
    font-size: size--sub-title;
    font-weight: bold;
}