@value colors: '../../utils/style/colors.module.css';
@value color--primary, color--white, color--box, color--legend, color--black from colors;

@value sizeFont: '../../utils/style/sizesFont.module.css';
@value size--legend, size--sub-sub-title from sizeFont;

.barChartBoardContainer{
    height: 22rem;
    width: 100%;
    height: 100%;
    background-color: color--box;
    padding: 2rem 0;
    border-radius: .5rem;
}

.TooltipBarChart{
    background-color: color--primary;
    padding: 1rem;
}

.TooltipBarChart > p{        
    color: color--white;
}

.legendBarChart{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    color: color--legend;
}

.legendBarChart > li{
    display: flex;
    font-weight: 500;
    align-items: center;
    color: color--legend;
    font-size: size--legend;
}

.legendBarChart > li:first-of-type{
    flex: 2;
    font-weight: 500;
    color: color--black;
    font-size: size--sub-sub-title;
}

.legendBarChart > :not(li:first-of-type){
    margin-left: 1rem;
}

.legendBarChart > :not(li:first-of-type) > i{
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 1rem;
    border-radius: 50%;
}

.colorPrimary{
    background-color: color--primary;
}

.colorBlack{
    background-color: color--black;
}